
@{
    ViewBag.Title = "Editorial Board";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    TempData["Editorial-Board"] = "current dropdown";
}

<!-- page-title -->
<section class="page-title centred" style="background-image: url(/images/background/page-title.jpg);">
    <div class="container">
        <div class="content-box">
            <div class="title">Editorial Board</div>
            <ul class="bread-crumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Editorial Board</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->
<!-- team-section -->
<section class="team-section team-page">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">*@
            <div class="col-lg-12 col-md-12 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    <figure class="image-box">
                        <img src="~/images/background/Dr Somnath Saha.jpg" />
                        @*<div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>*@
                    </figure>
                    <div class="lower-content">
                        @*<div class="dr-img"><img src="~/images/background/Dr Somnath Saha.jpg"/></div>*@
                        <h4> @*Editor-in-Chief : Prof. Dr. Somnath Saha (MBBS,MS)*@Prof.Dr Somnath Saha, Editor-in-Chief.</h4>
                        <div class="text">

                            <br />
                            Dr Saha is a Professor & Head of the Department, ENT & Head & Neck Surgery, Calcutta National
                            Medical College. @*He acquired his master degree from JIPMER, Puducherry-one of the top institutions of
                                country. He has on his name, over more than 100 peer reviewed published papers in different renowned
                                international & national journals . Dr Saha is a highly learnet person with a vast experience & expertise in
                                almost all the surgical procedures of his field. He owns a large experience dedicated to head-neck
                                surgery and reconstruction. He is popularly known as the “Mordern father of surgical residency” among
                                his students due to the affection & level of skills they acquire under him. His special research areas are
                                in the field of otology, head & neck surgery with reconstruction & endoscopic sinus surgeries. Words
                                would be less to describe his persona & humanitarian aspects.*@
                            <br />
                            Address: Department of ENT Head Neck Surgery, Calcutta National Medical College
                            32, Gorachand Rd, Beniapukur, Kolkata, West Bengal 700014
                            <br />
                            Email: <a href="">sahasomnath11@gmail.com</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    <figure class="image-box">
                        <img src="~/images/background/Mainak.jpg" />
                        @*<div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>*@
                    </figure>
                    <div class="lower-content">
                        @*<div class="dr-img"><img src="~/images/background/Mainak.jpg" /></div>*@
                        <h4>Managing Editor : Mainak Dutta (MBBS, MS, FACS)</h4>
                        <div class="text">
                            Department of ENT, Medical College, Kolkata
                            @*Dr. Dutta presently serves as Clinical Tutor in the Department of Otorhinolaryngology and
                                Head-Neck Surgery, Medical College and Hospital, Kolkata, India. He completed his MBBS
                                degree in Medical College and Hospital, Kolkata, in the year 2005, and MS in R. G. Kar
                                Medical College and Hospital in 2012. He has his expertise in various otologic procedures
                                (including tympanomastoid surgery, ossiculoplasty and cochlear implant surgery) and
                                managing different sinonasal and skull-base disorders. He takes keen interest in a wide variety
                                of endoscopic endonasal and skull-base procedures. He is dedicated to academics and is
                                avidly involved in teaching undergraduate and postgraduate students. Dr. Dutta is an
                                International Fellow of the American College of Surgeons (ACS) since 2017. He has 53
                                publications indexed with the PubMed/MEDLINE database. He has several presentations
                                both in the national and international forum. He is a frequent presenter in key international
                                otolaryngology conferences held in the different cities of USA, including the Combined
                                Otolaryngology Spring Meetings (COSM) [for Triological Society and American Society for
                                Pediatric Otolaryngology (ASPO)], and Society for Ear, Nose and Throat Advances in
                                Children (SENTAC). Dr. Dutta serves as a distinguished Editorial Board member in the
                                European Archives of Oto-Rhino-Laryngology and Head & amp; Neck, and Ear, Nose & amp; Throat
                                Journal. He is one of the Senior Editors of the Journal of Diagnostic and Clinical Research.
                                Dr. Dutta is actively involved in reviewing for most of the world’s leading journals of
                                otolaryngology and head-neck surgery, as well as for journals of allied medical subjects. He
                                has received the “Best Reviewer of the Year” award twice from Singapore Medical Journal,
                                and enjoys the status of a “Top Peer Reviewer” and an “Excellent Reviewer” in the Publons
                                global reviewer database (www.publons.com). He has been awarded one of the & quot;Top
                                Reviewers in Clinical Medicine & quot; for the year 2018 and 2019, and & quot;Top Reviewers in Cross-
                                Fields & quot; for the year 2019 by Publons. Dr. Dutta is immensely popular among the student
                                community and peers for being an enthusiastic and selfless teacher in his subject.*@
                            <br>
                            Address: Department of ENT, Medical College, Kolkata
                            88, College St, Calcutta Medical College, College Square, Kolkata, West Bengal 700073
                            <br />
                            Email: <a href="">duttamainak@yahoo.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-3.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>Manuscript Editor/Managing Secretary : Shivaam Kesarwaani (MBBS,MS)</h4>
                        <div class="text">
                            Senior Resident, Department of ENT Head Neck Surgery, Calcutta National Medical College
                            <br />
                            Address: Department of ENT Head Neck Surgery, Calcutta National Medical College
                            32, Gorachand Rd, Beniapukur, Kolkata, West Bengal 700014
                            <br />
                            Email: <a href="">shivaam.kesarwaani@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                <div class="team-details-content">
                    <div class="top-content">
                        <h2 class="lower-content">Editorial Board Members</h2>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="top-content">
            <h3> Overseas Members :</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">

                    @*<figure class="image-box">
                            <img src="/images/resource/team-1.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>
                            Dr. Debabrata Biswas
                            (MBBS, MS, MRCS, DOHNS, FRCS, Dip Med Leadership, Dip Med Education)
                        </h4>
                        <div class="text">
                            Consultant Head and Neck Surgeon, Luton and Dunstable University Hospital, UK. <br>
                            Address: NHS Foundation Trust, The L&D Hospital, Lewsey Rd, Luton LU4 0DZ, United Kingdom<br />
                            Email: <a href="">drdbiswas@hotmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-2.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>
                    <div class="lower-content">
                        <h4>
                            Dr. Kiran Agarwal
                            (MBBS, MS ENT, DOHNS UK( 2010), MRCS UK (2011), MRCGP UK  (2015))
                        </h4>
                        <div class="text">
                            Consultant, Eastwick Park Medical Practice<br />
                            Address: Eastwick Park Avenue, Bookham KT23 3ND, United Kingdom<br />
                            Email: <a href="">agarwal.kiranuk@gmail.com</a>

                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-3.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>Dr. Ramesh Vedula (MBBS, MD)</h4>
                        <div class="text">
                            Radiation Oncologist<br />
                            Address: 525 N Eastown Rd, Lima, Ohio, United States, 45807<br>
							Email: <a href=""> veduladrramesh@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                    <img src="/images/resource/team-4.jpg" alt="">
                    <div class="overlay">
                        <div class="wrapper">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </figure>*@
                    <div class="lower-content">
                        <h4>Professor Dgm Akaiduzzaman (MBBS, FCPS, MS)</h4>
                        <div class="text">
                            Head of the Department of Ent and Vice Principal, Sir Salimullah Medical College, Dhaka, Bangladesh<br />
                            Email: <a href="">dgmaka.ent@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                        <img src="/images/resource/team-5.jpg" alt="">
                        <div class="overlay">
                            <div class="wrapper">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </figure>*@
                    <div class="lower-content">
                        <h4><a href="team-details.html">Dr. Jhulan Biswas (MBBS, MD, FRCPath)</a></h4>
                        <div class="text">
                            Consultant Histopathologist, Royal Surrey County Hospital, UK.  <br>
                            Email: <a href="">drdjhulan.biswas@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="top-content">
            <h3> National Members :</h3>
        </div>
        <div class="row">
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">

                    @*<figure class="image-box">
                            <img src="/images/resource/team-1.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>
                    <div class="lower-content">
                        <h4>
                            <a href="">
                                Professor Dr. Ashok Saha (MBBS, MS)
                            </a>
                        </h4>
                        <div class="text">
                            Head Of Department, ENT-HNS, MGM Medical College, Kishanganj,Bihar<br />
                            Address: Mata Gujri Memorial Medical College & Lions Seva Kendra Hospital, Kishanganj, Bihar- 855107<br />
                            Email: <a href="">drsaha.ashok@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-2.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>
                            Prof.Dr. Hari Shankar SHARMA (MBBS,MS)
                        </h4>
                        <div class="text">
                            Head, Department of Otorhinolaryngology and Head-Neck Surgery, Sikkim Manipal, India<br />
                            Address: 5th Mile, Tadong,Gangtok, East Sikkim 737102<br />
                            Emai: <a href="">harishankar.s@smims.smu.edu.in</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">
                @*<div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-3.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>
                    <div class="lower-content">
                        <h4>Professor Prakash Nagpure (MBBS, MS)</h4>
                        <div class="text">
                            Head, Department of Otorhinolaryngology and Head-Neck Surgery, Mahatma Gandhi Institute of Medical Sciences, Wardha, Maharashtra<br />
                            Email: <a href="">nagpure@mgims.ac.in</a>
                        </div>
                    </div>
                </div>
            </div>*@
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">
                @*<div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-4.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>
                    <div class="lower-content">
                        <h4>Dr. DevShuvendu Roy (MBBD, DLO, MS, FRCS DORL-HNS, FRCS ENT)</h4>
                        <div class="text">
                            Rabindranath Tagore International Institute of Cardiac Sciences,Kolkata<br />
                            Address: 124, Premises No 1489, E M Bypass Road, Mukundapur, Kolkata - 700099<br />
                            Email: <a href="">roydevshuvendu@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-5.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>Professor Dr. Indranil Pal (MBBS, MS)</h4>
                        <div class="text">
                            Head of Department, ENT & HNS, College Of Medicine & JNM Hospital,Kalyani<br />
                            Address: U 50 , Mahavir Vikas, HC block, Sector 3, Salt Lake City, Kolkata 700106<br />
                            Email: <a href="">thisisindranil@yahoo.co.in</a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-6.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>Dr. Animesh Ghosh (MBBS, MS)</h4>
                        <div class="text">
                            Address:-  flat 4a , 43/1 m c garden road , dumdum : 700030<br />
                            Designarion: Assistant professor<br />
                            Department : ENT and Head & Neck surgery, IPGMER & SSKM Hospital, Kolkata<br />
                            Email : <a href="">agnrsich@gmail.com</a>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6 col-sm-12 team-column">
                @*<div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-7.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>
                    <div class="lower-content">
                        <h4>Dr. Prasit Biswas (MBBS)</h4>
                        <div class="text">
                            Resident, Department of ENT Head Neck Surgery, Calcutta National Medical College<br />
                            Address: Department of ENT Head Neck Surgery, Calcutta National Medical College
                            32, Gorachand Rd, Beniapukur, Kolkata, West Bengal 700014<br />
                            Email: <a href="">dr.prasitbiswas@gmail.com</a>

                        </div>
                    </div>
                </div>
            </div>*@
            </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                <div class="single-team-content inner-box">
                    @*<figure class="image-box">
                            <img src="/images/resource/team-8.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </figure>*@
                    <div class="lower-content">
                        <h4>Dr Sampurna Ghosh (MBBS, MS)</h4>
                        <div class="text">
                            Consultant ENT surgeon, Sunshine Hospitals, Gachibowli, Hyderabad<br />
                            Sunshine Hospital, Hyderabad<br />
                            Radhe Nagar, Gachibowli, Rai Durg, Telangana 500035<br />
                            Email: <a href="">drsampurna.g@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->
<!-- team-details -->
@*<section class="team-details gray-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                    <figure class="image-box"><img src="~/images/resource/image1.jpeg" alt=""></figure>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="team-details-content">
                        <div class="top-content">
                            <div class="title">Prof. Dr Somnath Saha</div>
                            <span>Editor-in-Chief</span>
                            <div class="text">Professor & Head, Department of ENT & Head & Neck Surgery<br />Calcutta National Medical College</div>
                        </div>
                        <div class="lower-content">
                            <h3 class="title">Biography</h3>
                            <div class="text">
                                Dr. Saha has acquired his master degree from JIPMER, Puducherry-one of the top institutions of country. He has on his name, over more than 100 peer reviewed published papers in different renowned international & national journals . Dr Saha is a highly learned person with a vast experience & expertise in almost all the surgical procedures of his field. He owns a large practice dedicated to head, neck, and skull base oncology and reconstruction. He is best known as the “Modern father of surgical residency”
                                due to his popularity among students & colleagues for his surgical training skills. His special research areas are in the field of otology, functional endoscopic sinus surgery & surgical and reconstructive outcomes in head & neck surgery.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                    <figure class="image-box"><img src="~/images/resource/image2.jpeg" alt=""></figure>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="team-details-content">
                        <div class="top-content">
                            <div class="title">Dr. Sonali Jana</div>
                            <span>Managing Secretary</span>
                            <div class="text">Resident Medical Officer, Department of ENT & Head & Neck Surgery<br />Calcutta National Medical College</div>
                        </div>
                        <div class="lower-content">
                            <h3 class="title">Biography</h3>
                            <div class="text">
                                Dr. Jana has acquired her post graduate degree & surgical expertise from Vivekanand Institute Of Medical Sciences (VIMS), Kolkata. She owns in her name numerous research works in various renowned journals. She has excellent skills in otology, as well as in various head & neck surgeries & reconstructive procedures. Apart from her surgical skills, she is academically very strong & popular among students for her teachings skills. She adopts a holistic care towards management of different ENT & Head-Neck diseases .Her research interests include voice disorders &
                                management of vocal cord pathologies, cholesteatoma & management, otosclerosis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- team-details end -->
