
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    TempData["About-Us"] = "current dropdown";
}

    <section class="about-style-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 title-column">
                    <div class="title-box">
                        <div class="sec-title">World Journal Of ENT-Head & Neck Surgery (WJEHNS)</div>
                        <div class="title-text">About Us</div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="top-text">
                           <h3 style="color:#b28824"> The World Journal of ENT - Head & Neck Surgery (WJEHNS) is a national, quarterly, open access, peer reviewed journal published by Chittaranjan ENT Society (Registered Under Society Registration Act XXVI of 1961, India Registration No: S0001394</h3>
                        </div>
                        <div class="text">
                            <ol>
                                <li><h5><b>.</b> Periodicity: Quarterly (in April, August and December)</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Language: English (preferably American English)</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Circulation: Worldwide (www.wjehns.com)</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Mode of publication: Open access</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Version: Both online and print</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Publisher/Funder: Chittaranjan ENT Society (for details, see below; Principal contact)</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Licensing information: Registration No: S0001394</h5></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li>
                                    <h5>
                                        <b>.</b> <span>
                                            Article Processing Charge: None. The authors will not have to pay during the submission, acceptance or
                                            publication of their articles in WJEHNS.
                                        </span>
                                    </h5>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><h5><b>.</b> Peer review: External peer review</h5></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   


